  input[type="text"],
  textarea {
    background-color: hsl(278, 24%, 80%);
    color: #fff;
  }
  #side-bar .heading {
    background: #bbb2b2;
  }
 
  #side-bar .users {
    background: white;
  }
  #side-bar .users::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #151515;
  }
  #side-bar .users::-webkit-scrollbar {
    background-color: black;
  }
  #side-bar .users::-webkit-scrollbar-thumb {
    background-color: #777;
  }
  #side-bar .users .user.active,
  #side-bar .users .user:hover {
    background: #202020;
  }
  #side-bar .current-user {
    background: #222222;
  }
  #side-bar .avatar {
    border: #bbb2b2 2px solid;
  }
  .chat-header {
    background: rgb(188, 188, 231);
  }
  #scrollBottom {
    background-color: #262626;
  }
  #scrollBottom:hover {
    background-color: #202020;
  }
  .thread-container {
    background-color: rgb(111, 144, 180);
  }
  .thread-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #151515;
  }
  .thread-container::-webkit-scrollbar {
    background-color: white;
  }
  .thread-container::-webkit-scrollbar-thumb {
    background-color: #777;
  }
  .thread-container .thread {
    color: white;
  }
  .message-container img {
    border: 2px solid #252525;
  }
  
  .message-container .message {
    color: white;
    background: rgb(89, 130, 173)
  }
  /* fieldsetf
  fieldsetf
  feFloodf
  f
  f

  feFloodf
  feFloodf
  feFloodf
  feFloodf */
  .message-container .name {
    color: white;
  }
  
  .me .message {
    background: rgb(63, 109, 158);
  }
  
  .message-input {
    background: #151515;
    color: white;
  }
  .message-input .message-form .form-control::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #151515;
  }
  .message-input .message-form .form-control::-webkit-scrollbar {
    background-color: black;
  }
  .message-input .message-form .form-control::-webkit-scrollbar-thumb {
    background-color: #777;
  }
  .message-input .message-form .send {
    color: #fff;
    background: hsl(279, 28%, 76%);
  }
  .message-input .message-form .send:active {
    background: #202020;
  }