.chat-room{
    background-color: #151515;
}

.profile-container{
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;

    /* scroll-behavior: smooth; */
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    /* position: relative; */
    /* background-color: #151515; */
    /* height: 100%; */
}

.user-data{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin: 10px;
}

.user-data .image-upload img {
    
    width: 150px;
    height: 150%;
    border: #393939 4px solid;
    cursor: pointer;
    border-radius: 50%;
}

/* .user-data .avatar-wrapper{
    border-radius: 50%;
} */

.user-data .image-upload input{
    display: none;
}
.user-data .image-upload .cover{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    width: 150px;
    height: 150px;
    background-color: #151515;
    opacity: 0;
    position: absolute;
    border: #393939 4px solid;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;

    /* top: 79px; */
    /* left: 14px; */
}
.user-data .image-upload .cover:hover{
    opacity: 0.7;
}


.user-data .data-wrapper{
    margin-left: 10px;
    margin-top: 20px;
    width: 100%;

}

.data-wrapper .username{
    /* display: inline-block; */
    font-size: 26px;
    font-weight: bold;
    /* padding: 4px 0px 0px 0px; */
    /* background-color: #393939; */
    /* border-radius: 10px; */
}

.data-wrapper .tag{
    display: inline-block;
    background-color: rgb(212, 21, 212);
    border-radius: 10px;
    padding: 4px;
    color:black;
}

.data-wrapper .dev {
    background-color: orange;
}

.data-wrapper .confirmed {
    background-color: #716DA6;
    /* width: 25px; */
    /* height: 25px; */
    font-size: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.data-wrapper .status{
    margin-top: 10px;
    /* margin-left: 5px; */
    border: none;
    width: 100%;
    resize: none;
    overflow: hidden;
    background: none;
    /* cursor: pointer; */
    outline: none;
}
.data-wrapper .status:hover{
    background-color: #393939;
    border-radius: 5px;
}

.data-wrapper .status:focus{
    background-color: #393939;
    border-radius: 5px;
    border: 1px solid white;
}



/* .profile-container {
    flex-grow: 1;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: red;
} */

.friends-container {
    /* background-color: coral; */
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #151515;
    margin-left: 15px;
    margin-right: 15px;
    border-left: #393939 2px solid; 
    border-right: #393939 2px solid;
    /* padding-left: 15px; */
    /* padding-right: 1px; */
    /* height: 100%; */
}

.friends-container .friends {
    /* background-color: crimson; */
    /* border-left: #393939 2px solid; */
    /* border-right: #393939 2px solid; */
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.size{
    height: 20px;
    background-color: darkgreen;
}

.friend-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    /* margin-left: 10px; */
    background-color: #393939;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;

}

.friend-container .avatar{
    width: 65px;
    border-radius: 50%;
}



.friend-container .username{
    font-size: 14px;
}

.friends-header{
    padding: 10px 15px 5px 25px;
    background-color: #393939;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

.friends-container::-webkit-scrollbar {
    background-color: #252525;
    width: 10px;
}
.friends-container::-webkit-scrollbar-track {
    background-color: #252525;
    border-radius: 20px;
}
.friends-container::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 20px;
}

.friends-footer{
    /* padding: 10px 15px 5px 25px; */
    background-color: #393939;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.requests-container .request{
    margin: 10px;
    background: #393939;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.requests-container{
    overflow-y: auto;
    max-height: 135px;
}

.requests-container .request button{
    border:none;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.requests-container .request button:hover{
    opacity: 0.6;
}

.requests-container .request .accept{
    background: green;
}
.requests-container .request .cansel{
    background: red;
}